<main role="main" class="container">
    <div class="jumbotron">
      <h1>Let's get entangled!</h1>
      <p class="lead">Upload a file to the Entangled Swarm.</p>
        <div class="form-group">
            <form action="../assets/" method="post" enctype="multipart/form-data">
          <label for="exampleFormControlFile1">Example file input</label>
          <input type="file" class="form-control-file" id="exampleFormControlFile1">
          <input type="submit">
        </form>
        </div>
      
      <!-- <a class="btn btn-lg btn-primary" href="/docs/4.3/components/navbar/" role="button">View navbar docs &raquo;</a> -->
    </div>
  </main>
